
services:
  web:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    restart: always
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    env_file:
      - .env
    environment:
      - MIGRATE_ON_START=true
    depends_on:
      db:
        condition: service_healthy
      broker:
        condition: service_started
    command: gunicorn kapantask.wsgi:application --bind 0.0.0.0:8000

  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  worker:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    restart: always
    volumes: []
    env_file:
      - .env
    environment:
      - MIGRATE_ON_START=false
    depends_on:
      db:
        condition: service_healthy
      broker:
        condition: service_started
    command: celery -A kapantask worker -l INFO

  broker:
    image: rabbitmq:3-management-alpine
    restart: always
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    env_file:
      - .env
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
      - RABBITMQ_DEFAULT_VHOST=${RABBITMQ_VHOST}
    ports:
      - "5672:5672"  # RabbitMQ
      - "15672:15672"  # Management UI

  nginx:
    build:
      context: ./docker/nginx
    restart: always
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "8000:80"
    depends_on:
      - web

volumes:
  postgres_data:
  rabbitmq_data:
  static_volume:
  media_volume: